[submodule "3rdparty/qtpdfium"]
	path = 3rdparty/qtpdfium
	url = https://github.com/paulovap/qtpdfium.git
[submodule "3rdparty/qtspeech"]
	path = 3rdparty/qtspeech
	url = https://github.com/qt/qtspeech.git
[submodule "3rdparty/QCLD2"]
	path = 3rdparty/QCLD2
	url = https://github.com/pehohlva/QCLD2
